%button {
	display: inline-block;
	border: 0;
	padding: 10px;
	color: $TEAL_2;
	background: transparent;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	transition: 0.25s;
	font-size: 24px;
	font-weight: bold;
	outline: 0;

	&:hover {
		background: rgba($BLUE_2, 0.6);
		transition: 0s;
	}

	&:active {
		background: rgba($BLUE_2, 1);
		transition: 0s;
	}
}
