.list {
	display: flex;
	flex-direction: column;
	width: $LAYOUT_WIDTH;
	max-width: 100%;
}

.list__button {
	@extend %button;
	text-align: center;
	color: $BLUE_1;
}

.list__button--selected {
	background-color: rgba($BLUE_1, 0.2);

	&:hover {
		background-color: rgba($BLUE_1, 0.4);
	}

	&:active {
		background-color: rgba($BLUE_1, 0.6);
	}
}
