.show-layout {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: auto;
	align-items: center;
	justify-content: center;
}

.show-layout__inner {
	display: flex;
	flex-direction: column;
	width: $LAYOUT_WIDTH;
	max-width: 100%;

	@media (min-width: 768px) {
		flex-direction: row;
		width: 100%;
		justify-content: center;

		> :nth-child(2) {
			order: -1;
		}
	}
}
