* {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	background-color: $BLUE_3;
	color: $TEAL_1;
}

html,
body,
#root {
	overflow: auto;
	height: 100%;
	position: relative;
}

svg {
	fill: currentColor;
}

input {
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	border: 0;
	border-bottom: 1px solid $BLUE_1;
	background: transparent;
	color: $TEAL_1;

	&::placeholder {
		color: rgba($TEAL_1, 0.6);
	}

	&:focus {
		outline: none;
		background: rgba($BLUE_2, 0.6);
	}
}
