html {
	font-family: 'Roboto', sans-serif;
	background-color: $BLUE_3;
	color: $TEAL_1;
}

svg {
	fill: currentColor;
}

a {
	color: $TEAL_1;
}

button {
	color: $TEAL_1;
	border: 0;
	background: transparent;

	&:hover {
		background: rgba($BLUE_2, 0.6);
	}

	&:active {
		background: rgba($BLUE_2, 1);
	}
}
